*{
  font-family: 'Montserrat', sans-serif;
}

ul {
  text-align: left;
}

span {
	border-bottom:2px dashed #FFD2BB;
}

.back-link-wrapper {
  border-bottom: 1px solid grey;
  margin-bottom: 20px;
}
 .recipe-body {
  padding: 10px 140px;
}

@media only screen and (max-width: 600px) {
  .recipe-body {
  padding: 10px 5px;
  }
}